body{
margin:0;
font-family: 'Roboto Mono', monospace;

}
h1{
    font-size: 40px;
}
/*
section{
    display: flex;
    margin-bottom: 120px;
}
*/
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.color{
color: aquamarine;
}

.half-width{
width: 50%;
padding-left: 3%;
padding-right: 2%;

}

.half-width img{
width: 85%;

}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 11px 35px;
    border-radius: 4px;
    background-image: linear-gradient(yellow, rgba(255, 0, 0, 0.459));
   /* background-color: blueviolet; */

}

.background-banner{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
   
}


.mustafiz-recipe{
    text-align: center;
}

.mustafiz-recipe p{
   text-align: center;
   margin-bottom: 10px;    
}
 
.mustafiz-recipe img{
    border-radius: 15px;
}

.item-shadow{
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px 5px;
    border-radius: 20x;
    box-shadow: 11px 11px 40px gray;

}
.item-shadow2{
    width: 95%;
    margin-left: 30px;
    margin-right: 20px;
    padding: 25px 10px;
    border-radius: 20x;
    box-shadow: 11px 11px 40px gray;

}

footer{
    text-align: center;
    font-weight: 700;
    color: whitesmoke;
    padding: 4px 4px;
    background-color: black;
}