body{
margin:0;

}
h1{
    font-size: 40px;
}

section{
    display: flex;
    margin-bottom: 120px;
}

.color{
color: aquamarine;
}

.half-width{
width: 50%;

}

.half-width img{
width: 85%;

}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 11px 35px;
    border-radius: 4px;
    background-image: linear-gradient(yellow, rgba(255, 0, 0, 0.459));
   /* background-color: blueviolet; */

}

.background-banner{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
   
}
